// ============================================================================
// CONTAINER COMPONENT STYLES
// ============================================================================

@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

// ----------------------------------------------------------------------------
// BASE
// ----------------------------------------------------------------------------

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// ----------------------------------------------------------------------------
// MAX WIDTHS
// ----------------------------------------------------------------------------

.container--sm {
  max-width: $container-sm;
}

.container--md {
  max-width: $container-md;
}

.container--lg {
  max-width: $container-lg;
}

.container--xl {
  max-width: $container-xl;
}

// ----------------------------------------------------------------------------
// PADDING
// ----------------------------------------------------------------------------

.container--padding-none {
  padding-left: $space-0;
  padding-right: $space-0;
}

.container--padding-sm {
  padding-left: $space-3;
  padding-right: $space-3;
}

.container--padding-md {
  padding-left: $space-4;
  padding-right: $space-4;

  @media (min-width: 768px) {
    padding-left: $space-6;
    padding-right: $space-6;
  }
}

.container--padding-lg {
  padding-left: $space-6;
  padding-right: $space-6;

  @media (min-width: 768px) {
    padding-left: $space-8;
    padding-right: $space-8;
  }
}

