// ============================================================================
// CONTAINER SECTION COMPONENT STYLES
// ============================================================================

@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

// ----------------------------------------------------------------------------
// BASE
// ----------------------------------------------------------------------------

.container-section {
  width: 100%;
}

// ----------------------------------------------------------------------------
// ALIGNMENT
// ----------------------------------------------------------------------------

.container-section--align-left {
  text-align: left;
}

.container-section--align-center {
  text-align: center;
}

.container-section--align-right {
  text-align: right;
}

